<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='stylesheets/style1.css') }}" /> 
    <link rel="shortcut icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.ico') }}"/>
    <body>
        <div class="perspective-text">
            <div class="perspective-line">
              <p></p>
              <p>THE</p>
            </div>
            <div class="perspective-line">
              <p>Posture</p>
            </div>
            <div class="perspective-line">
              <p>Corrector  </p>
            </div>
          </div>
        <div class="bg-text" >
	<img src = "{{ url_for('static', filename='images/default.jpg') }}" style = 'float:left;' width = 275px height = 275px/>
        <h3>Click on the "Choose File" button to upload a file:</h3>
	
        <form method = "POST" action="" enctype = "multipart/form-data">
            <p >
            <input class="btn-2" type="file" id="myFile" name="file" >
            
	<input class="btn-3" type="submit" id = "submitBtn">
	   
            </p>
            </form>
        </div>   
       
         
       
         
        
    
    </body>
    </head>
    
</html>